<div class="modal-header">
    <h3 class="modal-title" id="modal-title">הוספת אירוע למאגר האירועים</h3>
    <h4 class="nodal-title">כדי שכל יהודי יוכל למצוא את האירוע שלך- מלא את כל השדות, ושלח את הטופס</h4>
</div>
<div class="modal-body" id="modal-body">


    <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>

        <div class="row">

            
            <!-- location -->
            <div class="col-md-4 form-group" ng-class="{ 'has-error' : userForm.location.$invalid && !userForm.location.$pristine }">
                <label>מיקום האירוע</label>
                <input type="text" ng-model="exp.location.formatted_address" ng-blur="console.log(1);getLocation()" name="location" class="form-control"
                    required>
                    <p ng-show="userForm.location.$invalid && !userForm.location.$pristine" class="help-block">You name is required.</p>
                </div>
                
                
                
                <!-- Date -->
                <div class="col-md-4 form-group" ng-class="{ 'has-error' : userForm.date.$invalid && !userForm.date.$pristine }">
                    <label>תאריך</label>
                    <input type="date" name="date" class="form-control" ng-model="exp.date" required>
                    <p ng-show="userForm.date.$invalid && !userForm.date.$pristine" class="help-block">You date is required.</p>
                </div>
                
                <!-- Type -->
                <div class="col-md-4 form-group" ng-class="{ 'has-error' : userForm.type.$invalid && !userForm.type.$pristine }">
                    <label>סוג האירוע</label>
                    <select name="type" class="form-control" ng-model="exp.type" required>
                        <option ng-repeat="cat in categories" value="{{::cat.id}}">{{::cat.title}}</option>
                    </select>
                    <p ng-show="userForm.type.$invalid && !userForm.type.$pristine" class="help-block">You name is required.</p>
                </div>
                
            </div>

        <!-- title -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.title.$invalid && !userForm.title.$pristine }">
            <label>כותרת האירוע</label>
            <input type="text" name="title" class="form-control" ng-model="exp.title" required>
            <p ng-show="userForm.title.$invalid && !userForm.title.$pristine" class="help-block">You name is required.</p>
        </div>



        <!-- moreInfo -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.moreInfo.$invalid && !userForm.moreInfo.$pristine }">
            <label>פירוט על תוכן האירוע</label>
            <textarea type="text" name="moreInfo" class="form-control" ng-model="exp.moreInfo" required></textarea>
            <p ng-show="userForm.moreInfo.$invalid && !userForm.moreInfo.$pristine" class="help-block">You name is required.</p>
        </div>

        <!-- imgFile -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.imgFile.$invalid && !userForm.imgFile.$pristine }">
            <label>קישור לקובץ (תמונה בלבד)</label>
            <input type="text" name="imgFile" class="form-control" ng-model="exp.imgFile" required>
            <p ng-show="userForm.imgFile.$invalid && !userForm.imgFile.$pristine" class="help-block">You name is required.</p>
        </div>

        <hr>

        <!-- What -->
        <div class="row">

            <div class="col-md-4 form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                <label>שם איש הקשר</label>
                <input type="text" name="name" class="form-control" ng-model="exp.userInfo.name" required>
                <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
            </div>

            <!-- phone -->
            <div class="col-md-4 form-group" ng-class="{ 'has-error' : userForm.phone.$invalid && !userForm.phone.$pristine }">
                <label>מספר הטלפון של איש הקשר</label>
                <input type="tel" name="phone" class="form-control" ng-model="exp.userInfo.phone" required>
                <p ng-show="userForm.phone.$invalid && !userForm.phone.$pristine" class="help-block">You name is required.</p>
            </div>

            <!-- email -->
            <div class="col-md-4 form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                <label>כתובת המייל של איש הקשר</label>
                <input type="email" name="email" class="form-control" ng-model="exp.userInfo.email" required>
                <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">You name is required.</p>
            </div>
        </div>

        <div style="display:none">
            <!-- lastName -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.lastName.$invalid && !userForm.lastName.$pristine }">
                <label>שם משפחה</label>
                <input type="lastName" name="lastName" class="form-control" ng-model="exp.lastName">
                <p ng-show="userForm.lastName.$invalid && !userForm.lastName.$pristine" class="help-block">You name is required.</p>
            </div>
        </div>

    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok(userForm.$valid);vm.confirm">הוסף אירוע</button>
</div>